<!-- <pre *ngIf="objList">{{objList | json}}</pre> -->
<table class="table" *ngIf="objList">
    <thead>
        <tr>
            <th *ngFor="let col of colNames" (click)="onSortByCol(col)">{{col}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of objList" (click)="onSelect(obj)" [class.active]="obj == objSelected">
            <td *ngFor="let dato of rowData(obj); let index = index" [attr.data-before]="colNames[index]">
                <img [src]="dato" alt="" *ngIf="isImg(dato)">
                <spam *ngIf="!isImg(dato)">{{dato}} </spam>
            </td>
        </tr>
    </tbody>
</table>
