
<table class="table" *ngIf="objList">
    <thead *ngIf="colNames.length > 1 || actions.length > 0">
        <tr>
            <th *ngFor="let col of colNames" (click)="onSortByCol(col)">{{col}}</th>
            <th *ngIf="actions.length > 0">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of objList; let rowIndex = index" (click)="onSelect(obj)" [class.active]="obj == objSelected">
            <td *ngFor="let dato of rowData(obj); let colIndex = index" [attr.data-before]="colNames[colIndex]" [class.cols]="rowData(obj).length > 1">
                <img [src]="dato" alt="" *ngIf="isImg(dato)">
                <spam *ngIf="!isImg(dato)">{{dato}} </spam>
            </td>
            <td *ngIf="actions.length > 0">
                <button mat-icon-button aria-label="{{act.description}}" *ngFor="let act of actions" (click)="onAction(act.event, rowIndex,obj)">
                    <i class="{{act.icon}}"></i><!-- {{act.description}} {{rowIndex}} -->
                </button>
            </td>
        </tr>
    </tbody>
</table>