<table class="table" *ngIf="objList">
    <!-- <thead>
        <tr>
            <th *ngFor="let col of colNames" (click)="onSortByCol(col)">{{col}}</th>
            <th *ngIf="actions.length > 0">Acciones</th>
        </tr>
    </thead> -->
    <tbody>
        <t2-row *ngFor="let obj of objList; let rowIndex = index" [obj]="obj" [objSelected]="objSelected" [index]="rowIndex" [actions]="actions">
            <t2-col *ngFor="let dato of rowData(obj); let colIndex = index" [colName]="colNames[colIndex]" [dato]="dato"></t2-col>
        </t2-row>
    </tbody>
</table>