@import "src/assets/scss/variables";
:host {
    display: block;
    margin-top: 30px;
    min-height: 282px;
    padding: 2px;
}
// .form-control{
//     padding-right: 180px;
// }
.mat-raised-button {
    margin-right: 5px;
}
.action {
    padding-bottom: 5px;

    &.a {
    }
    &.b {
        position: absolute;
        bottom: 0;
        padding-bottom: 5px;
        width: 100%;
        display: none;
    }
}
.harcode-users {
    position: absolute;
    top: 33px;
    right: 0;
}
@media screen and (max-width: $tablet-min-w) {
    :host {
        min-height: 278px;
    }
    .harcode-users{
        display: none;
    }
}
