<div class="container">
    <h1>My perfil</h1>

    <div *ngIf="userInfo && userMail">

        <div class="card">
            <img [src]="userInfo.picture" alt="avatar usuario" class="profile-img" *ngIf="userInfo.picture">
            <div class="img-field">
                <input placeholder="Ingrese su avatar" type="file" accept=".png, .jpg" (change)="onFileLoad($event)"  mat-raised-button>
            </div>
        </div>

        <div class="card">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [value]="userMail" disabled>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Clave</mat-label>
                <input matInput value="******" disabled>
            </mat-form-field>
        </div>

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <h2>Datos personales</h2>
                <div class="row">
                    <div class="col-md">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput [formControl]="name">
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field>
                            <mat-label>Apellido</mat-label>
                            <input matInput [formControl]="lastname">
                        </mat-form-field>
                    </div>
                </div>


                <div *ngIf="userInfo && userInfo.type && userInfo.type=='Profesional'">
                    <div>
                        <h2>Datos de turnos</h2>
                        <div class="row">
                            <div class="col-md">
                                <mat-form-field *ngIf="specialtiesList">
                                    <mat-label>Especialidades</mat-label>
                                    <mat-select matNativeControl [formControl]="specialty" multiple>
                                        <mat-option *ngFor="let item of specialtiesList" [value]="item.name">{{item.name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="specialty.invalid">El campo es obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md">
                                <div class="row">
                                    <div class="col">
                                        <mat-label>Duracion del turno</mat-label>
                                        <mat-slider [max]="120" [min]="30" [step]="30" [tickInterval]="30" [formControl]="tiempoTurno"></mat-slider>
                                    </div>
                                    <div class="col">{{tiempoTurno.value}} minutos</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2>Dias y horarios de atencion</h2>
                    <div class="row">
                        <div class="col-md-2 dia">
                            <div class="checkbox-field">
                                <mat-checkbox (change)="onHourCK('Mon')" [checked]="hourMonCK.value">Lunes</mat-checkbox>
                            </div>
                            <mat-form-field>
                                <mat-label>hora inicio</mat-label>
                                <input matInput type="time" [formControl]="hourStartMon" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourStartMon.invalid">{{messageBusinessDaysStart}}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>hora fin</mat-label>
                                <input matInput type="time" [formControl]="hourEndMon" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourEndMon.invalid">{{messageBusinessDays}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2 dia">
                            <div class="checkbox-field">
                                <mat-checkbox (change)="onHourCK('Tue')" [checked]="hourTueCK.value">Martes</mat-checkbox>
                            </div>
                            <mat-form-field>
                                <mat-label>hora inicio</mat-label>
                                <input matInput type="time" [formControl]="hourStartTue" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourStartTue.invalid">{{messageBusinessDaysStart}}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>hora fin</mat-label>
                                <input matInput type="time" [formControl]="hourEndTue" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourEndTue.invalid">{{messageBusinessDays}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2 dia">
                            <div class="checkbox-field">
                                <mat-checkbox (change)="onHourCK('Wed')" [checked]="hourWedCK.value">Miercoles</mat-checkbox>
                            </div>
                            <mat-form-field>
                                <mat-label>hora inicio</mat-label>
                                <input matInput type="time" [formControl]="hourStartWed" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourStartWed.invalid">{{messageBusinessDaysStart}}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>hora fin</mat-label>
                                <input matInput type="time" [formControl]="hourEndWed" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourEndWed.invalid">{{messageBusinessDays}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2 dia">
                            <div class="checkbox-field">
                                <mat-checkbox (change)="onHourCK('Thu')" [checked]="hourThuCK.value">Jueves</mat-checkbox>
                            </div>
                            <mat-form-field>
                                <mat-label>hora inicio</mat-label>
                                <input matInput type="time" [formControl]="hourStartThu" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourStartThu.invalid">{{messageBusinessDaysStart}}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>hora fin</mat-label>
                                <input matInput type="time" [formControl]="hourEndThu" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourEndThu.invalid">{{messageBusinessDays}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2 dia">
                            <div class="checkbox-field">
                                <mat-checkbox (change)="onHourCK('Fri')" [checked]="hourFriCK.value">Viernes</mat-checkbox>
                            </div>
                            <mat-form-field>
                                <mat-label>hora inicio</mat-label>
                                <input matInput type="time" [formControl]="hourStartFri" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourStartFri.invalid">{{messageBusinessDaysStart}}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>hora fin</mat-label>
                                <input matInput type="time" [formControl]="hourEndFri" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourEndFri.invalid">{{messageBusinessDays}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2 dia">
                            <div class="checkbox-field">
                                <mat-checkbox (change)="onHourCK('Sat')" [checked]="hourSatCK.value">Sabado</mat-checkbox>
                            </div>
                            <mat-form-field>
                                <mat-label>hora inicio</mat-label>
                                <input matInput type="time" [formControl]="hourStartSat" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourStartSat.invalid">{{messageStartSat}}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>hora fin</mat-label>
                                <input matInput type="time" [formControl]="hourEndSat" min="09:00" max="18:00" (blur)="validateHous()">
                                <mat-error *ngIf="hourEndSat.invalid">{{messageSat}}</mat-error>
                            </mat-form-field>


                        </div>
                    </div>
                </div>

                <!-- (click)="onSubmit()" -->
                <button mat-raised-button color="primary" type="submit">Guardar</button>
            </div>
        </form>
    </div>




    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>