<div class="container">
    <h1 matTooltip="Info del progreso del TP">Home</h1>
    <h3>General</h3>
    <a href="https://github.com/ddalairac/utn-lab4-tp2/blob/master/README.md">readme</a>
    <p>perfil</p>
    <ul>
        <li>se puede subir la imagen del usuario</li>
        <li>El profesional puede cargar dias horarios y tiempo de turno</li>
    </ul>
    <br>
    <br>
    <h3>Paciente</h3>
    <p>En calendario</p>
    <ul>
        <li>Puede sacar turnos</li>
        <li>puede cancelar turnos</li>
        <li>los horarios no disponibles son visibles</li>
    </ul>
    <br>
    <h3>Profesional</h3>
    <p>calendario</p>
    <ul>
        <li>Puede aceptar turnos</li>
        <li>puede cancelar turnos</li>
        <li>puede extender tiempo de un turno</li>
        <li>puede mover el horario del turno</li>
    </ul>
    <br>
    <h3>Admin</h3>
    <p>Listado de usuarios</p>
    <p>Listado de especialidades</p>
</div>